.album {

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            float: left;
            list-style: none;
            margin-bottom: 20px;
        }
    }
}