$shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

.validate {
    width: 300px;
    height: 200px;
    padding: 10px;
    box-shadow: $shadow;
    background-color: #fff;

    position: absolute;

    &-img {
        height: 150px;

        .bg-img {
            width: 100%;
            height: 100%;
            background-image: url('../../img/back.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .drag-item {
            width: 40px;
            height: 40px;
            background-color: #f5f5f5;
            position: absolute;
            top: 50px;
            left: 10px;
        }
    }

    &-drag {
        height: 45px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 5px;

        .drag-bg {
            width: 100%;
            line-height: 30px;
            font-size: 16px;
            color: #999;
            text-align: center;
            border-radius: 30px;
            box-shadow: inset 0 0 3px 1px #ccc;

            /*按文字裁剪*/
            -webkit-background-clip: text;
            /*文字的颜色使用背景色*/
            -webkit-text-fill-color: transparent;
            /*设置一个背景色*/
            background-color: #f5f5f5;
            /*设置渐变的背景，从左向右渐变*/
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 30%, #2db7f5 50%, rgba(0, 0, 0, 0.6) 70%);
            /*设置背景为混合模式下的强光模式*/
            background-blend-mode: hard-light;
            background-size: 200%;
            /*给背景添加动画改变位置*/
            animation: shine 4s infinite;

            span {
                margin-left: 25px;
            }
        }

        .drag-item {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #999;
            position: absolute;
            left: 10px;
            background-color: white;
            border: solid 1px #bbb;
            box-sizing: border-box;
            border-radius: 50%;
            box-shadow: $shadow;
            cursor: pointer;
            transition: all .2s;

            &:hover {
                color: #2d8cf0;
            }
        }
    }
}

@keyframes shine {
    from {
        background-position: 100%;
    }

    to {
        background-position: -18%;
    }
}