$shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

.home {
    overflow: hidden;
    font-size: 14px;

    .left-side {
        padding: 15px;
        width: 70%;
        float: left;
        border-right: solid 1px #eaeaea;
    }

    .right-side {
        width: 263px;
        float: right;
        padding: 20px 0px;
    }
}

.panel {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: $shadow;

    &:last-of-type {
        margin-bottom: 0px;
    }

    &-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #C10D0C;

        .title {
            float: left;
            font-size: 20px;
            color: #17233d;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }

        .more {
            float: right;
            font-size: 12px;
        }
    }

    &-content {
        width: 100%;
        min-height: 50px;
        padding: 20px 0px;
    }

    &-flex {
        display: flex;
        justify-content: space-between;
    }
}